adium-theme-ubuntu==0.3.4
crcmod==1.7
decorator==4.0.11
Django==1.10.5
ez-setup==0.9
funcsigs==1.0.2
httplib2==0.9.1
imageio==2.1.2
inflect==0.2.5
jaraco.itertools==2.0.1
mock==2.0.0
more-itertools==2.5.0
moviepy==0.2.2.13
nltk==3.2.2
numpy==1.12.0
olefile==0.44
pandas==0.19.2
pbr==1.10.0
Pillow==4.0.0
protobuf==3.0.0
py3==0.0.0
python-dateutil==2.6.0
pytz==2016.10
pyxdg==0.25
PyYAML==3.12
requests==2.13.0
scikit-learn==0.18.1
scipy==0.18.1
setupfiles==0.0.0
six==1.10.0
tensorflow==0.11.0
tqdm==4.11.2
ubuntuone-client-data==14.4
unity-lens-photos==1.0
unroll==0.1.0
vboxapi==1.0
wolframalpha==3.0
xmltodict==0.10.2
